body{
    background-image: url("/assets/shadow.jpg");
    background-size: cover;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: red;
    display: inline-block;
    border: 2px solid black;
    background-image: url("/assets/naruto.1.png");
    background-size: cover;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: aqua;
    display: inline-block;
    border: 2px solid black;
}

#box3{
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    display: inline-block;
    border: 2px solid black;
    background-image: url();
}

#box4{
    height: 200px;
    /* width: 200px; */
    background-color:black;
    border: 2px solid black;
    width: 100%;
    margin-top: 100vh;
}
